.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
#profile_img {
  width: 100px;
  height: 100px;
  border-radius: 100vw;
}
#slack {
  display: none;
}